body{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    display: list-item;
}

div.menu{
    font-size: 30px;
    text-align: center;
    border-style: inset;
	border-width: 2px;
	border-color: #ffffff;
}

div.menu div.main{
    border-width: 2;
    border-style: inset;
    border-color: #ffffff;
}

div.title p.title{
    font-size:50px;
}

div.content{
    display: inline-flex;
    font-size: 35px;
}

div.content div{
    display: block;
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-width: 2;
    border-style: inset;
    border-color: #ffffff;
}

footer{
    text-align: left;
}
